{% extends "layouts/base.html" %}
{% load static %}

{% block title %}Edit Profile{% endblock %}

{% block content %}

<link rel="stylesheet" href="{% static 'styles/profile.css' %}">

<main class="profile-page">
    <section class="profile-card">

        <h2 class="page-title">Edit Profile</h2>

        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}

            <!-- AVATAR -->
            <div class="avatar-section">
                {% if request.user.profile.avatar %}
                <img src="{{ request.user.profile.avatar.url }}" class="avatar">
                {% else %}
                <img src="{% static 'icons/avatar-default.png' %}" class="avatar">
                {% endif %}

                <div class="container">
                    <div class="folder">
                        <div class="front-side">
                            <div class="tip"></div>
                            <div class="cover"></div>
                        </div>
                        <div class="back-side cover"></div>
                    </div>

                    <label class="custom-file-upload">
                        {{ profile_form.avatar }}
                        <span>Cambiar Avatar</span>
                    </label>
                </div>

                <div class="avatar-info">
                    <p>
                        Se recomienda al menos 800×800 px.<br>
                        Se permiten JPG, PNG o JPEG.
                    </p>
                </div>

            </div>

            <!-- INFO -->
            <div class="info-card">
                <div class="info-header">
                    <h3>Personal Info</h3>
                </div>

                <div class="info-grid">
                    <div>
                        <span>Nombre</span>
                        {{ user_form.first_name }}
                    </div>

                    <div>
                        <span>Apellido</span>
                        {{ user_form.last_name }}
                    </div>

                    <div>
                        <span>Email</span>
                        {{ user_form.email }}
                    </div>

                    <div>
                        <span>Nombre de usuario</span>
                        {{ user_form.username }}
                    </div>

                    <div>
                        <span>Teléfono</span>
                        {{ profile_form.phone_number }}
                    </div>
                </div>
            </div>

            <div class="actions">
                <button type="submit" class="save-btn">Save changes</button>
            </div>
        </form>

    </section>
</main>

{% endblock %}