{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link rel="stylesheet" href="{% static 'styles/register.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>

<body>

    <main class="page">
        <section class="auth-container">

            <form method="post" class="form">
                {% csrf_token %}

                <p class="title">Register</p>
                <p class="message">Signup now and get full access to our app.</p>

                <label>
                    {{ form.username }}
                    <span>Username</span>
                </label>

                <div class="flex">
                    <label>
                        {{ form.first_name }}
                        <span>Firstname</span>
                    </label>

                    <label>
                        {{ form.last_name }}
                        <span>Lastname</span>
                    </label>
                </div>

                <label>
                    {{ form.email }}
                    <span>Email</span>
                </label>

                <label class="password-field">
                    {{ form.password1 }}
                    <span>Password</span>

                    <button type="button" class="toggle-password">
                        <i class="fas fa-eye"></i>
                    </button>
                </label>

                <label class="password-field">
                    {{ form.password2 }}
                    <span>Confirm password</span>

                    <button type="button" class="toggle-password">
                        <i class="fas fa-eye"></i>
                    </button>
                </label>

                <button type="submit" class="submit">Submit</button>

                <p class="signin">
                    Already have an account ?
                    <a href="{% url 'login' %}">Signin</a>
                </p>

                {% if form.errors %}
                <div class="errors">
                    {% for field in form %}
                    {% for error in field.errors %}
                    <p>{{ error }}</p>
                    {% endfor %}
                    {% endfor %}
                </div>
                {% endif %}
            </form>

        </section>
    </main>
    <script src="{% static 'js/register.js' %}"></script>
</body>

</html>