{% extends "layouts/base.html" %}

{% block title %}Tareas{% endblock %}

{% block content %}

<h1>Tareas</h1>

<section>
    <ul>
        {% for task in tasks %}
        <li>
            <div class="d-flex align-items-center gap-2">
                <h2 class="mb-0">{{ task.title }}</h2>

                {% if not task.completed %}
                <strong class="text-danger small">Pendiente</strong>
                {% else %}
                <strong class="text-success small">Completada</strong>
                {% endif %}
            </div>

            <hr>

            <p>{{ task.description }}</p>
            <p>Pertenece al Proyecto: {{ task.project }}</p>

            <form action="{% url 'delete_task' task.id %}" method="post"
                onsubmit="return confirm('¿Eliminar esta tarea?');">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">🗑️ Eliminar</button>
            </form>

            <form action="{% url 'complete_task' task.id %}" method="post"
                onsubmit="return confirm('¿Cambiar estado de la tarea?')">
                {% csrf_token %}
                {% if task.completed %}
                <button type="submit" class="btn btn-secondary btn-sm">
                    ↩️ Undo
                </button>
                {% else %}
                <button type="submit" class="btn btn-success btn-sm">
                    ✅ Complete
                </button>
                {% endif %}
            </form>

            <hr>
        </li>
        {% endfor %}
    </ul>
</section>
{% endblock %}