{% extends "layouts/base.html" %}
{% block content %}

<head>
    <title>Detalle del Proyecto</title>
</head>

<h1>Proyecto: {{ project.name }}</h1>

<section>
    <h2>Tareas del Proyecto</h2>
    <ul>
        {% for task in project.task_set.all %}
        <li>
            <div class="d-flex align-items-center gap-2">
                <h3 class="mb-0">{{ task.title }}</h3>

                {% if not task.completed %}
                <strong class="text-danger small">Pendiente</strong>
                {% else %}
                <strong class="text-success small">Completada</strong>
                {% endif %}
            </div>

            <hr>

            <p>{{ task.description }}</p>

            <form action="{% url 'delete_task' task.id %}" method="post"
                onsubmit="return confirm('¿Eliminar esta tarea?');">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">🗑️ Eliminar</button>
            </form>

            <form action="{% url 'complete_task' task.id %}" method="post"
                onsubmit="return confirm('¿Cambiar estado de la tarea?')">
                {% csrf_token %}
                {% if task.completed %}
                <button type="submit" class="btn btn-secondary btn-sm">
                    ↩️ Undo
                </button>
                {% else %}
                <button type="submit" class="btn btn-success btn-sm">
                    ✅ Complete
                </button>
                {% endif %}
            </form>

            <hr>
        </li>
        {% empty %}
        <p>No hay tareas asociadas a este proyecto.</p>
        {% endfor %}
    </ul>

    {% endblock %}