{% extends "layouts/base.html" %}
{% load static %}

{% block title %}Inicio{% endblock %}

{% block content %}
<container class="container-fluid d-flex justify-content-between align-items-center py-3 border-bottom">
    <!-- DERECHA: BUSCADOR + ICONOS -->
    <div class="d-flex gap-5 align-items-center">

        <!-- BUSCADOR -->
        <input type="search" class="form-control me-5" placeholder="Search..." style="max-width: 200px;">

        <!-- NOTIFICACIONES -->
        <button class="btn btn-light position-relative me-5">
            🔔
            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                3
            </span>
        </button>

        <!-- PERFIL -->

        <a href="{% url 'profile' %}">
            <div>
                <button class="btn btn-light">
                    <img src="{% static 'icons/profile.svg' %}" alt="profile">
                </button>
            </div>
        </a>


    </div>
</container>
<br>
<section>
    <div class="d-flex align-items-center gap-3">
        <h1 class="m-0">DASHBOARD</h1>
        <a href="{% url 'add_project' %}" class="button text-decoration-none">
            <div>
                <button class="button">
                    <img src="{% static 'icons/add.svg' %}" alt="add">
                </button>
            </div>
            Add Project
        </a>

    </div>
</section>
{% endblock %}